.wrapper__card_item {
  width: 210px;
  height: 300px;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.card__image {
  width: 190px;
  height: 160px;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card__name {

  p {
    color: #1b1b1b;
    font-weight: 700;
    font-size: 1rem;
  }
}


.location {
  display: flex;
  align-items: center;
  color: #000;
  margin-top: 10px;
}

.btn__forum {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  width: calc(100% - 20px);
  margin: auto;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    background: #ECECEC;
    border-radius: 5px;
    font-weight: 700;
  }
}
