@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 200;
  src: url(fonts/Gilroy-Light.woff2) format("woff2");
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Gilroy-Regular.woff2) format("woff2");
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  src: url(fonts/Gilroy-Medium.woff2) format("woff2");
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  src: url(fonts/Gilroy-Semibold.woff2) format("woff2");
  font-display: swap
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Gilroy-Bold.woff2) format("woff2");
  font-display: swap
}