.footer {
  width: 100%;
  margin: auto;
  max-width: 1350px;
  display: flex;
  align-items: center;

  p {
    color: #fff;
  }

  a {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    min-width: 250px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #128CD1;
    color: #fff;
    transition: 0.3s;

    &:hover {
      background: #128CD1;
      color: #fff;
    }
  }
}

.wrapper__footer {
  width: 100%;
  min-height: 200px;
  padding: 10px 0;
  background: #000000;
  display: flex;
}