.login {
  width: 100%;
  margin: auto;
  max-width: 1350px;
  height: calc(100vh - 200px);
}

.auth_link {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  a {
    background: #128CD1;
    padding: 10px 50px;
    font-size: 2rem;
    color: #fff;
    border-radius: 20px;

  }
}