
a {
  text-decoration: none !important;
}

p {
  margin: 0 !important;
}

a, p, h1, h2, h3, h4, h5, h6, div, span, th, td, label, input {
  font-family: Gilroy;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-decoration: none;
}

a {
  color: #000;
}

html {
  scroll-behavior: smooth;
}

input {
  outline: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  cursor: pointer;
}

iframe {
  max-width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  margin: auto;
  min-width: 320px;
  max-width: 1920px;
}

.marker__location {
  margin-right: 5px;
  display: flex;
  align-items: center;

  &:before {
    margin-right: 10px;
    content: '';
    display: flex;
    width: 12px;
    height: 18px;
    background: url("assets/images/marker.svg");
  }
}

